@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.main_page {
  width: 100%;
  height: 100%;
  min-height: 100%;
  .desktop({
    display: flex;
  });
}
.intro_main_section {
  p {
    color: rgb(124,129,136);
  }
  .desktop({
    border-right: 2px solid @border-gray;
    width: 33.33333333333%;
    height: 100%;
  });
  .mobile({
    width: 100%;
    padding-bottom: 2.5em;
  });
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.intro_main_score {
  width: 100%;
  text-align: center;

  .desktop({
    padding-bottom: 1.75em;
  });

  .mobile({
    padding-top: 4em;
    padding-bottom: 2em;
    order: 1;
  });

  .score_container {
    .mobile({
      width: 260px;
    });
    .score__image {
      .mobile({
        width: 100%;
      });
    }
    .score__digit {
      .mobile({
        width: 80px;
        font-size: 52px;
      });
    }
  }
}

.intro_main_intro {
  margin: 0 auto;
  text-align: center;
  .desktop({
    width: 70%;
  });
  .mobile({
    order: 2;
    width: 90%;
  });

  h1.intro_headline {
    font-weight: 700 !important;
    letter-spacing: -0.03125em;
    margin-bottom: 0.625em;
    line-height: 1.25;
  }
  p.intro_tagline {
    letter-spacing: 0.01875em;
    color: #7c8188;
  }
}

.questions_page {
  background: white;

  .desktop({
    width: 66.66666666667%;
    overflow-y: auto;
    padding-bottom: 3.5em;
  });
  .mobile({
    width: 100%;
    border-top: 1px solid @border-gray;
  });
}
