@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.result {
  background-color: @result-bg;
  border-radius: 4px;
  overflow-y: hidden;
  padding: 6%;
  margin-bottom: 3%;
  text-align: center;

  &.result--bad {
    background-color: @result-bad-bg;
    h2 {
      color: @result-bad-text;
    }
  }

  &.result--ok {
    background-color: @result-ok-bg;
    h2 {
      color: @result-ok-text;
    }
  }

  &.result--good {
    background-color: @result-good-bg;
    h2 {
      color: @result-good-text;
    }
  }


  h2 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
  }

}

.result-suggestions {
  text-align: left;
}
