@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.questions_section {
  padding-bottom: 3%;
  .desktop({
    padding: 3%;
  });

  > .prompt {
    width: 60%;
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: 600;
    color: #464646;
    text-align: center;
  }

  > .submit {
    display: block;
    padding: 20px;
    border-radius: 4px;
    background-color: #5485f9;
    font-size: 20px;
    line-height: 1.0;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
}
