@import '../../globals/constants.less';
@import '../../globals/responsive.less';

.questions_section {
  padding-bottom: 3%;
  .desktop({
    padding: 3%;
  });
  .mobile({
    padding: 12%;
  });

  > .prompt {
    width: 60%;
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: 600;
    color: @text-color;
    text-align: center;
    .mobile({
      width: 90%;
      font-size: 18px;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    });
  }

  > .submit {
    display: block;
    padding: 20px;
    border-radius: 4px;
    background-color: #5485f9;
    font-size: 20px;
    line-height: 1.0;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  .show_options_button {
    min-height: 3.75em;
    h4.show_options_button_text {
      font-size: 1.125em;
      font-weight: 700;
    }
  }
}
