@import '../../globals/constants.less';
@import '../../globals/responsive.less';

@question-bg: #f4f7ff;

.question {
  background: @question-bg;
  border-radius: 4px;
  overflow-y: hidden;
  padding: 3% 6%;
  margin-bottom: 3%;

  > h2 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
  }
}
